/*geral*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Inter;
    scroll-behavior: smooth;
}

body{
    background-color: #2C5282;
}

/*propriedades de todos os buttons*/
button{
    background-color: #BEE3F8;
    font-size: 14px;
    font-weight: bold;
    color: #2C5282;
    cursor: pointer;
    border-radius: 6px;
    border: none;
}

/*<header>*/
#number-players{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#player-number{
    height: 52px;
    width: 180px;
    border-radius: 50px;   
    background-color: #BEE3F8;
    font-size: 14px;
    font-weight: bold;
    color: #2C5282;
    cursor: pointer;
    border: none;
    text-align: center;
}

#fwd-arrow{
    transform: rotate(180deg);
}  
/*</header>*/

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px; 
    padding: 60px 0;
}

.clues-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    gap: 16px;
    max-width: 320px;
}

.section-title-button{
    height: 52px;
    width: 320px;
    position: relative;
}

.hide > .clue-button{
    display: none;
}

.arrow-up{
    position: absolute;
    right: 5px;
    top: 6px;
    transform: scale(0.75) rotate(180deg);
    transition: 200ms;
}

.arrow-down{
    transform: scale(0.75);
    transition: 200ms;
}

.clue-button{
    height: 96px;
    width: 96px;
    position: relative;
}

.clue-button > * {
    pointer-events: none;
}

.clue-button--clicked{
    opacity: 30%;
}

.clue-button-img{
    height: 70%;
    width: 70%;
}

.clue-button-number{
    position: absolute;
    right: 5px;
    bottom: 3px;
}

#structures > .clue-button > .clue-button-number{
    top: 3px;
}

/*<footer>*/
#end-game{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

#end-button{
    height: 52px;
    width: 320px;
    background-color: #1A365D;
    color: #BEE3F8;
}
/*</footer>*/

/*propriedades do modal de end game e tela inicial*/
.end-container{
    display: none;
}

.end-container--modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 320px;
    margin: 0 auto;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:#2C5282;
}

.confirmation-button{
    height: 52px;
    width: 100%;
}

#end-message{
    margin-bottom: 40px;
}

.text-message{
    font-size: 40px;
    font-weight: 700;
    color: #BEE3F8;
    text-align: center;
}

.home-button{
    height: 100px;
    width: 100px;
    font-size: 30px;
}